@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "core-variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";
@import "details";
@import "navbar";
@import "homepage";
@import "footer";
@import "resources";
@import "events";

/* todo move this into the <head> */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.logo-header {
  max-height: 10rem;
}
#svg-logo-inline {
  width: 12rem;
  vertical-align: 3px;
}
.btn-dtta-primary {
  @extend .btn-primary;
  background-color: #2c8887;
  border-color: #2c8887;
}
.btn-dtta-secondary {
  @extend .btn-danger;
  background-color: #a0309c;
  border-color: #a0309c;
}
.container-dtta {
  background-color: #e6e6e6;
  color: #353535;
}

// Create badge CSS rules off colour names
@each $color, $value in $colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.img-inline {
  max-height: 1.5rem;
}
.img-inline-lg {
  max-height: 2.5rem;
}

.img-y1 {
  max-height: 1rem;
}
.img-y2 {
  max-height: 2rem;
}
.img-y3 {
  max-height: 3rem;
}
.img-y4 {
  max-height: 4rem;
}
.img-y5 {
  max-height: 5rem;
}
////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
