
@import "core-variables";
@import "functions";
@import "variables";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";
@import "details";
@import "navbar";
@import "homepage";
@import "footer";
@import "resources";
@import "events";

/* todo move this into the <head> */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.logo-header {
  max-height: 10rem;
}
#svg-logo-inline {
  width: 12rem;
  vertical-align: 3px;
}
.btn-dtta-primary {
  @extend .btn-primary;
  background-color: #2c8887;
  border-color: #2c8887;
}
.btn-dtta-secondary {
  @extend .btn-danger;
  background-color: #a0309c;
  border-color: #a0309c;
}
.container-dtta {
  background-color: #e6e6e6;
  color: #353535;
}

// Create badge CSS rules off colour names
@each $color, $value in $colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.img-inline {
  max-height: 1.5rem;
}
.img-inline-lg {
  max-height: 2.5rem;
}

.img-y1 {
  max-height: 1rem;
}
.img-y2 {
  max-height: 2rem;
}
.img-y3 {
  max-height: 3rem;
}
.img-y4 {
  max-height: 4rem;
}
.img-y5 {
  max-height: 5rem;
}
////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
